<footer class="form-footer flexrow">
  {{#each buttons}}
    <button type="{{type}}" data-action="{{action}}" class="{{css}}">
      <i class="{{icon}}"></i>
      {{label}}
    </button>
  {{/each}}
</footer>
